<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
    <!--查询所有-->
    <select id="findAll" resultType="User">
    select * from user
    </select>
    <!--新增-->
<!--    #{}==?-->
    <insert id="saveUser"  parameterType="cn.yzxhf.domain.User"  >

        insert into user(username,birthday,sex,address) values(#{username},#{birthday},#{sex},#{address})
    </insert>
<!--    修改-->
    <update id="updateUser" parameterType="cn.yzxhf.domain.User">
        update user set username=#{username},birthday=#{birthday},sex=#{sex},address=#{address} where  id=#{id}
    </update>
<!--    删除  java.lang.Integer-->
    <delete id="deleteUser" parameterType="int">
        delete from user where  id=#{abc}
    </delete>
</mapper>